.find-img-btn {
    color: black;
    background-color: #89A6FB;
    border-radius: 0;
    padding: 5px;
    border: none;
}
.title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    font-style: bold;
    text-align: center;
    margin-bottom: 0px;
}

.container {
    margin: auto;

    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 20px;
}

.api_ref {
    text-align: center;
    color: grey;
}